@charset "UTF-8";

$system_gray01: #222222;
$system_gray02: #696969;
$system_gray03: #919191;
$system_gray04: #bdbdbd;
$system_gray05: #e2e2e2;
$system_gray06: #f5f5f5;
$primary: #ff5831;
$primary_800: #ff6d4b;
$primary_700: #ff8164;
$primary_600: #ff967e;
$system_blue: #2e82ff;
$system_blue_800: #4891ff;
$system_blue_700: #61a1ff;
$system_blue_600: #7bb0ff;
$system_red: #e40000;
$system_black: #000000;
$system_white: #ffffff;
