/*
    HeaderView.vue 에 사용된 CSS파일
    HeaderComponent.vue 에 사용되었습니다.
*/
#alarm-wrapper:hover {
    cursor: pointer;
}

#alarm-container {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    background: white;
    overflow-y: auto;
    z-index: 10;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 6em;
}

/* My menu List CSS */
#my-page-container {
    display: flex;
    align-items: flex-end;
}

#my-menu-list {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    background: white;
    z-index: 10;
    width: 190px;
    height: 250px;
    position: absolute;
    right: 3em;
}

#my-menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0 0 1.25em;
}

#my-menu-items > div > span {
    margin-right: 15px;
}
#my-menu-items > div:hover {
    cursor: pointer;
}

.my-menu-icons {
    width: 30px;
}

/* DROP DOWN ITEMS */
#drop-down-btn {
    width: 0.7rem;
}
#drop-down-btn:hover {
    font-size: 1em;
    cursor: pointer;
}
#drop-down-btn-container {
    margin-left: 15px;
}

#navBar-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 1980px */
    height: 60px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    z-index: 10;
}

.nav-menu-icon {
    width: 25px;
}

.nav-menu-icon:nth-child(1) {
    margin-right: 30px;
}

.nav-icon-label {
    font-size: 11px;
    color: #919191;
    margin-right: 15px;
}

#search-list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    max-width: 1980px;
    text-align: center;
}

#search-list-wrapper {
    display: inline-block;
    width: 100vw;
    height: 30vh;
    background: #FFFFFF;
}

#outer {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3)
}

#menu-button-container > button > img {
    width: 24px;
    margin-top: 0.4em;
}
.login-label:hover {
    cursor: pointer;
    font-weight: 600;
}
#menu-button-container {
    display: none;
}

#empty-search-lists {
    margin-top: 1rem;
    font-weight: 600;
}

/* 로그인 시 생성되는 nav icons*/
#isLoginTrue {
    display: flex;
    align-items: flex-end;
    margin-right: 3em;
}
#my {
    width: 30px;
}
#my:hover {
    cursor: pointer;
}
#my-page {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 14px;
}
#my_name {
    font-size: 5px;
}
#alarm {
    width: 30px;
    margin-right: 1em;
}

.close-search-list {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 600;
    background: #F5F5F5;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    padding-top: 3px;
    color: #696969;
}

.active-post-btn {
    background: #1c1b1b !important;
    color: white;
    font-weight: 700;
}

.fade-enter-active {
    transition: all .4s ease;
}

.fade-leave-active {
    transition: all 0s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}