@import '@/assets/styles/colors.scss';

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 296px;
  width: 100%;
  min-height: 936px;
  height: 100%;
  background-color: $system_white;

  &--category:hover {
    color: $system_gray01;
    cursor: pointer;
    transition: all 0.2s;
  }

  &--items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
  }

  &--item {
    width: 100%;
    max-width: 280px;
    height: 56px;
    padding: 16px 40px;
  }
}

.circle {
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  background-color: #FF5831;
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .side-menu {
    position: inherit;
    flex-direction: row;
    min-height: 60px;
    min-width: 100%;

    &--items {
      width: 100%;
      flex-flow: row;
      padding: 0;
    }

    &--item {
      width: min(100vw, 80px);
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

