@import '@/assets/styles/index.scss';
.aside {
  min-height: 100%;
  background-color: white;
  position: absolute;
}
.nav {
  min-height: 100%;
}
.side-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 32px;
  list-style: none;
  min-width: 184px;
  min-height: 100%;
}

.main-menu-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: $system_black;
  gap: 8px;
  border-radius: 12px;
  cursor: pointer;

  &.isActive {
    color: $primary;
  }
}
