@import '../../../assets/styles/colors';

.header {
  position: sticky;
  display: flex;
  width: 100%;
  height: 144px;
  left: 0;
  top: 0;
  background: $system_white;
  z-index: 10;
  flex-direction: column;
  border-bottom: 1px solid $system_gray05;

  .nav-status-container {
    .button--wrapper {
      float: right;
      padding-right: 56px;
    }
  }

  /* 상단 Top 컴포넌트 */
  .top-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding-top: 28px;
    align-items: center;

    .logo-wrapper {
      text-align: center;
      width: 103px;
      margin-left: 56px;
    }

    .search-bar--container {
      width: 100%;
      display: flex;
      justify-content: center;

      .search__button {
        position: relative;
        right: 35px;
        width: 25px;
      }

      .search-bar {
        width: 100%;
        max-width: 588px;
        height: 40px;
        border: 1px solid $system_gray05;
        outline: none;
        background: $system_gray06;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
      }
    }
    /*
      최근 검색한 키워드
    */
    .keyword-container {
      width: 100vw;
      position: absolute;
      top: 75px;
      left: 0;
      background: rgba(25, 25, 25, 0.5);
      height: 100vh;
      z-index: 999;

      .list-group {
        padding-top: 20px;
        background: $system_white;
        min-height: 300px;
      }

      .button--wrapper {
        text-align: right;
        margin-right: 2%;
      }

      &--list {
        margin: auto;
        max-width: 500px;

        section {
          text-align: center;
        }
      }
    }
  }

  /* 중간 Navigation 컴포넌트 */
  .navigation {
    .nav-title {
      color: $system_gray03;
      font-weight: 300;

      &:hover {
        color: $system_gray01;
      }
    }

    .active {
      color: $system_gray01;
      font-weight: 500;
    }
  }
  nav {
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 40px;
  }
  nav ul {
    padding-left: 17px;
  }

  nav ul li {
    float: left;
    margin-right: 20px;
  }

  .drop-down-container {
    background-color: rgba(250, 250, 250, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px none;
    border-radius: 4px;
    width: 130px;

    a {
      color: $system_gray02;
      width: 100%;
      padding: 5px 0;

      &:hover {
        color: $system_gray01;
        background-color: #e0e0e0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .search-bar-container {
    display: none;
  }
  //.search-bar__button--close {
  //  display: none;
  //}
}
