@charset "UTF-8";

@import "palette";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/*
 기본 폰트: Pretendard
*/
$pretendard: 'Pretendard-Regular';

/*
  Font Style Mixin
  Params: {
    $weight: font-weight
    $size: font-size
    $color: color
  }
*/
@mixin font-style($weight, $size, $color) {
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  color: $color;
  font-family: $pretendard;
}

.button__text {
  @include font-style(16, 500, $black);
}