@charset "UTF-8";

$white: #ffffff;
$line: #E2E2E2;
$disabled: #F5F5F5;
$placeholder: rgba(189, 189, 189, 1);
$label-gray: rgba(145, 145, 145, 1);
$sub-label-gray: rgba(105, 105, 105, 1);
$black: #222222;

$point-red: rgba(255, 88, 49, 1);
