@charset "UTF-8";

@import "colors";

@function borderType($border-color) {
  @if $border-color == none {
    @return none;
  } @else {
    @return 1px solid $border-color;
  }
}
/*================
   버튼 타입 설정
================*/
@mixin buttonType($border-color, $color, $background) {
  border: borderType($border-color);
  font-weight: 400;
  font-style: normal;
  color: $color;
  background: $background;
  font-family: var(--font-family-nanum_gothic);
  width: 122px;
  height: 44px;
  border-radius: 4px;
}

@mixin disabled() {
  @include buttonType($system_gray06, $system_gray05, $system_gray06);
  cursor: default;
}

.primary__button {
  @include buttonType($system_gray01, $system_gray01, $system_white);

  &:hover {
    background-color: $system_gray01;
    color: $system_white;
  }

  &:disabled {
    @include disabled();
  }
}

.secondary__button {
  @include buttonType($system_gray06, $system_gray01, $system_white);

  &:hover {
    border-color: $system_gray01;
  }

  &:disabled {
    @include disabled();
  }
}

.black__button {
  @include buttonType($system_white,$system_white, $system_gray01);

  &:hover {
    background: #363636;
  }
}

/*================
    검색창
================*/
.search-form {
  width: 100%;
  text-align: center;

  .search-form__container {
    .search-form__input {
      width: 100%;
      max-width: 588px;
      height: 40px;
      border: 1px solid $system_gray03;
      outline: none;
      background: $system_gray06;
      padding: 5px 10px;
      font-size: 18px;

      &:focus {
        border-color: $system_gray01;
      }
    }

    .search-form__button {
      position: relative;
      right: 30px;
      bottom: -6px;
      width: 25px;
    }
  }
}
