@charset "UTF-8";

$size: 1;
$total: 100;

/*
========================
  MARGIN, PADDING
========================
*/
@for $size from 1 to $total {
  .mt-#{$size} {
    margin-top: $size+px !important;
  }
  .ml-#{$size} {
    margin-left: $size+px !important;
  }
  .mr-#{$size} {
    margin-right: $size+px !important;
  }
  .mb-#{$size} {
    margin-bottom: $size+px !important;
  }

  .pt-#{$size} {
    padding-top: $size+px !important;
  }
  .pl-#{$size} {
    padding-left: $size+px !important;
  }
  .pr-#{$size} {
    padding-right: $size+px !important;
  }
  .pb-#{$size} {
    padding-bottom: $size+px !important;
  }
}


/*
========================
  SCROLLBAR 스크롤바 설정
========================
*/
.scroll{
  width: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.scroll-type {
  &::-webkit-scrollbar {
    width: 6px;
  }
  /* 스크롤바 뒷 배경 설정*/
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* 스크롤바 막대 설정*/
  &::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    /* 스크롤바 둥글게 설정  */
    border-radius: 10px;
  }
}
