@import '@/assets/styles/index.scss';

.mainImage {
  width: 640px;
  height: 640px;
  object-fit: cover;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.imageItem {
  width: 80px;
  height: 80px;
}
.info {
  width: auto;
  max-width: 500px;
}

.stroke {
  text-decoration: line-through;
}

.artistImage {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.followButton {
  width: 74px;
  height: 37px;
  padding: 0;
}
