@import "../../assets/styles/common/colors";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin: auto;

  /* 로그인 화면에 있는 버튼 */
  button {
    max-width: 336px;
    max-height: 44px;
    width: 100%;
  }

  .logo--wrapper {
    margin-bottom: 44px;
    text-align: center;
  }
  .logo {
    width: 120px;
  }

  &--group {
    width: 100%;
    margin: auto;
  }

  &__items--wrapper {
    width: 100%;
    height: 44px;
    margin: auto;

    & button {
      width: 100%;
      height: 100%;
    }
  }

  &__input {
    background: $system_white;
    width: 100%;
    max-width: 302px;
    border: 1px solid $system_gray05;
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 4px;

    &:focus-visible{
      border-color: $system_black;
    }
  }

  .warning-message {
    color: $primary;
    font-size: 8px;
    padding: 10px 0;
  }

  .social-login-division {
    width: 100%;
    margin: 48px auto 15px auto;
  }

  .social-login__button--group {
    display: flex;
    flex-direction: column;

    .google__button {
      border-radius: 4px;
      background: $system_white;
      border: 1px solid $system_gray05;
      display: flex;
      align-items: center;
      margin: auto;

      &:hover {
        background: #f5f5f5;
      }
    }

    button.google__button span {
      font-size: 14px;
      color: #000000;
      font-weight: 600;
      display: block;
      width: 80%;
      text-align: center;
    }

    .kakao__button {
      border-radius: 4px;
      background: #fee500;
      display: flex;
      align-items: center;
      margin: auto;

      &:hover {
        background: #f6de00;
      }
    }

    button.kakao__button span {
      display: block;
      font-size: 14px;
      color: #000000;
      font-weight: 600;
      width: 80%;
      text-align: center;
    }
  }

  .check-box--wrapper {
    width: 100%;

    & div {
      display: flex;
      align-items: center;
      width: 336px;
      margin: auto;
      text-align: left;
    }

    .save-id--text {
      font-size: 9px;
      margin-left: 5px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #919191;
    position: relative;
  }

  input[id="saveId"]:checked + label::after {
    content: "◼️";
    color: #05152f;
    font-weight: 800;
    font-size: 21px;
    padding-bottom: 3px;
    width: 9px;
    text-align: center;
    position: absolute;
    left: -2.5px;
  }

  .find-password,
  .join {
    color: $system_gray03;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-route--group {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;

    .division {
      color: $system_gray05;
    }
    .route-text {
      color: $system_gray03;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        font-weight: bold;
        cursor: pointer;
        color: #565656;
      }
    }
  }
}
