@charset "UTF-8";

$size: 1;
$total: 100;

/*
========================
  MARGIN, PADDING
========================
*/
@for $size from 1 to $total {
  .mt-#{$size} {
    margin-top: $size + px !important;
  }
  .ml-#{$size} {
    margin-left: $size + px !important;
  }
  .mr-#{$size} {
    margin-right: $size + px !important;
  }
  .mb-#{$size} {
    margin-bottom: $size + px !important;
  }
  .m-#{$size} {
    margin: $size + px !important;
  }
  .mx-#{$size} {
    margin-left: $size + px !important;
    margin-right: $size + px !important;
  }
  .my-#{$size} {
    margin-top: $size + px !important;
    margin-bottom: $size + px !important;
  }

  .pt-#{$size} {
    padding-top: $size + px !important;
  }
  .pl-#{$size} {
    padding-left: $size + px !important;
  }
  .pr-#{$size} {
    padding-right: $size + px !important;
  }
  .pb-#{$size} {
    padding-bottom: $size + px !important;
  }
  .p-#{$size} {
    margin: $size + px !important;
  }
  .px-#{$size} {
    padding-left: $size + px !important;
    padding-right: $size + px !important;
  }
  .py-#{$size} {
    padding-top: $size + px !important;
    padding-bottom: $size + px !important;
  }

  .gap-#{$size} {
    gap: $size + px !important;
  }
}
.w-100 {
  width: 100%;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.show {
  display: inline-block !important;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}
.relative {
  position: relative;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.pointer {
  cursor: pointer;
}
.rotate-180 {
  transform: rotate(180deg);
}
.stroke {
  text-decoration: line-through;
}

.logo {
  width: min(20vw, 120px);
}

/*
========================
  SCROLLBAR 스크롤바 설정
========================
*/
.scroll {
  width: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
  }
  /* 스크롤바 뒷 배경 설정*/
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* 스크롤바 막대 설정*/
  &::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    /* 스크롤바 둥글게 설정  */
    border-radius: 8px;
  }
}

/* Radio Button */
[type='radio'] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid #222222;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.3s ease-in-out;
}

[type='radio']:checked {
  border: 5px solid #222222;
  //background: #222222;
}

[type='radio']:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #222222;
}

[type='radio']:hover {
  box-shadow: 0 0 0 max(2px, 0.1em) #bebebe;
  cursor: pointer;
}
