@charset "UTF-8";

@import "../colors";

/*
  각 컴포넌트 CARD 형 Layout
*/
.card-layout {
  border: 1px solid $system_gray03;
  height: 100%;
  max-height: 432px;
  min-height: 400px;
  max-width: 288px;
  width: 100%;

  &__img {
    background: $system_gray03;
    width: 100%;
    max-width: 288px;
    height: 288px;
    object-fit: cover;
  }

  &__content {
    &__items--writer {
      color: $system_gray03;
      font-weight: 400;
      height: 14px;
    }

    &__items--title {
      color: $system_gray01;
      font-weight: 700;
      height: 20px;
      line-height: 21px;
      white-space: nowrap;
    }

    .price-container {
      .event-price {
        color: $system_gray01;
        font-weight: 700;
        line-height: 19px;
        white-space: nowrap;
        width: fit-content;
      }

      .origin-price {
        color: $system_gray03;
        font-weight: 400;
        width: fit-content;
      }

      .percent {
        color: $primary;
        font-weight: 700;
        width: fit-content;
      }
    }
  }
}

/* 태그 */
.tag-container {
  display: flex;

  .tag {
    background-color: $system_gray06;
    border: 1px none;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 4px 8px;
    width: fit-content;

    //@include font-style(400, 12, $sub-label-gray);
  }
}
