@import "../../assets/styles/colors";

.register {
  height: 100%;

  &-items {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
  }

  .form-container {
    height: 100%;
    max-height: 628px;
    overflow-y: auto;
  }

  &__button--container {
    display: flex;
    justify-content: flex-end;
  }

  // TAB Layer
  .tab {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid $system_gray05;

    &--progress {
      display: flex;
      align-items: center;

      .progress-dot {
        display: inline-block;
        width: 4px;
        height: 4px;
        background: $system_gray05;
        border-radius: 30px;
        margin: 0 8px;
      }

      .active {
        color: $system_gray01;
      }

      .tab-title {
        color: $system_gray04;
      }

    }
  }

  // POLICY LAYER
  .policy {
    padding: 40px;

    &-content--container {
      height: 470px;
    }

    &-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $system_gray05;
      padding: 16px 0;
    }

    &__check-box {
      display: flex;
      align-items: center;
    }

    &__check-box--all {
      display: flex;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid $system_gray05;
    }

    &-contents--wrapper {
      overflow-y: auto;
      border-bottom: 1px solid $system_gray05;
      border-left: 1px solid $system_gray05;
      border-right: 1px solid $system_gray05;
      height: 160px;
    }

    .button {
      width: 104px;
    }

    label {
      cursor: pointer;
    }

    input[type='checkbox'] {
      display: none;
    }

    .essential {
      font-style: normal;
      font-weight: 500;
      color: $system_gray03;
      width: fit-content;
      font-size: 14px;
    }
  }

  // 회원가입 폼
  &__input {
    background-color: $system_white;
    border: 1px solid $system_gray05;
    border-radius: 4px;
    height: 22px;
    padding: 10px 16px;
    width: 314px;
    overflow: hidden;

    &:focus {
      border-color: $system_gray01;
      color: $system_gray01;
    }
  }

  &__form {
    padding: 20px 40px;

    .register-items-top {
      display: grid;
      grid-template-columns: 100px 1fr;
      align-items: start;
    }

    // 탭
    .register__button--tab {
      background-color: $system_white;
      border: 1px solid $system_gray05;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      height: 152px;
      overflow: hidden;
      padding: 21px 0;
      width: 164px;
    }

    .register__button--tab-active {
      background-color: $system_white;
      border: 1px solid $system_gray03;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      height: 152px;
      overflow: hidden;
      padding: 21px 0;
      width: 164px;
    }
  }

  .error {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 17%;
    height: 10px;
    text-align: left;
  }
  // 회원가입 탭
  &-options {
    padding: 20px 40px 0 40px;

    .input--email {
      display: flex;
      width: 566px;
    }

    .upload {
      width: 13px;
      margin-right: 12px;
    }

    .upload-container {
      width: 150px;
      height: 90px;
    }

    .upload__button {
      display: flex;
      align-items: center;
      height: 44px;
      width: 144px;
    }

    .upload__button input[type="file"] {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }

    .upload__button label {
      background-color: white;
      border: 1px solid #e2e2e2;
      vertical-align: middle;
      font-size: 0.82rem;
      font-weight: 600;
      color: #222222;
      cursor: pointer;
      border-radius: 4px;
      height: 44px;
      display: flex;
      align-items: center;
    }
    .upload__button label:hover {
      border: 1px solid $system_gray01;
    }
  }

  /* 회원가입 완료 */

  .completed {
    &-container {
      width: 100%;
      height: 520px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button {
      width: 120px;
      height: 44px;
    }

    .button-group {
      display: flex;
      justify-content: flex-end;
      height: 100px;
      padding: 16px 32px;
    }
  }
}

