@import "src/assets/styles/common/colors";

.register {
  overflow-y: auto;
  height: 100%;

  &__button--container {
    display: flex;
    justify-content: flex-end;
  }

  // TAB Layer
  .tab {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid $system_gray05;

    &--progress {
      display: flex;
      align-items: center;

      .progress-dot {
        display: inline-block;
        width: 4px;
        height: 4px;
        background: $system_gray05;
        border-radius: 30px;
        margin: 0 8px;
      }

      .active {
        color: $system_gray01;
      }

      .tab-title {
        color: $system_gray04;
      }

    }
  }

  // POLICY LAYER
  .policy {
    padding: 40px;
    height: 100%;

    &-content--container {
      height: 470px;
    }

    &-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $system_gray05;
      padding: 16px 0;
    }

    &__check-box {
      display: flex;
      align-items: center;
    }

    &__check-box--all {
      display: flex;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid $system_gray05;
    }

    &-contents--wrapper {
      overflow-y: auto;
      border-bottom: 1px solid $system_gray05;
      border-left: 1px solid $system_gray05;
      border-right: 1px solid $system_gray05;
      height: 160px;
    }

    .button {
      width: 104px;
    }

    label {
      cursor: pointer;
    }

    input[type='checkbox'] {
      display: none;
    }
  }

  // 회원가입 폼
  &__input {
    background-color: $system_white;
    border: 1px solid $system_gray05;
    border-radius: 4px;
    height: 22px;
    padding: 10px 16px;
    width: 314px;
    overflow: hidden;

    &:focus {
      border-color: $system_gray01;
      color: $system_gray01;
    }
  }

  &__form {
    padding: 20px 40px;

    .register-items-top {
      display: grid;
      grid-template-columns: 100px 1fr;
      align-items: start;
    }

    .register-items {
      display: grid;
      grid-template-columns: 100px 1fr;
      align-items: center;
    }


    // 탭
    .register__button--tab {
      background-color: $system_white;
      border: 1px solid $system_gray05;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      height: 152px;
      overflow: hidden;
      padding: 21px 0;
      width: 164px;
    }

    .register__button--tab-active {
      background-color: $system_white;
      border: 1px solid $system_gray03;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      height: 152px;
      overflow: hidden;
      padding: 21px 0;
      width: 164px;
    }
  }

  .error {
    padding-top: 8px;
    padding-left: 17%;
    height: 10px;
    text-align: left;
  }
  // 유저 탭
  &-options {
    padding: 20px 40px 0 40px;

    input[type='text'] {
      display: flex;
      width: 566px;
    }
  }
}


.flex-layout {
  display: flex;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.text-left {
  text-align: left;
}


