/* 공통 HTML 태그 default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Gowun Batang', serif;
}

body {
    /* 사용시 스크롤 되지 않음 overflow: hidden;*/
    height: 100vh;
    -ms-overflow-style:none;
}
body::-webkit-scrollbar {
    display:none;
}

ul {
    list-style: none;
    margin: 0;
}

button {
    background: none;
    border: none;
    outline: none;
}
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #919191;
}

a:hover {
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
}

p {
    margin: 0;
}

/* input number 화살표 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.active-post-btn {
    background: #1c1b1b !important;
    color: white;
    font-weight: 700;
}
/* Vue Transition CSS */
/*.fade-enter-active {*/
/*    transition: all .3s ease;*/
/*}*/

/*.fade-leave-active {*/
/*    transition: all 0s;*/
/*}*/

/*.fade-enter, .fade-leave-to {*/
/*    opacity: 0;*/
/*}*/

/* .v-leave-active, */
.v-enter-active,  .v-move {
    transition: opacity 0.3s, transform 0.5s;
}

.v-leave-active {
    position: absolute;
}
.v-enter {
    opacity: 0;
    /* 상단에서 부터 내려오는 애니메이션 */
    /*transform: translateY(-20px);*/
}
.v-leave-to {
    opacity: 0;
}
/*-----   Vue Transition CSS END   -----*/


/* Custom Margin */
.c-mt-56 {
    margin-top: 56px !important;
}
.c-mt-12 {
    margin-top: 12px !important;
}
.c-mt-16 {
    margin-top: 16px !important;
}
.c-mt-24 {
    margin-top: 24px !important;
}
.c-mt-40 {
    margin-top: 40px !important;
}
.c-mt-48 {
    margin-top: 48px !important;
}
.c-mr-12 {
    margin-right: 12px !important;
}
.c-mr-16 {
    margin-right: 16px !important;
}
/*-----   Custom Margin END  -----*/


/* 태그 */
.tag {
    padding: 5px 8px;
    background: #F5F5F5;
    min-width: 40px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #696969;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0;
}
.tag-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: static;
    left: 8px;
    top: 4px;
    line-height: 14px;
}
