/* 공통 HTML 태그 default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Gowun Batang', serif;
}

body {
    /* 사용시 스크롤 되지 않음 overflow: hidden;*/
    height: 100vh;
    -ms-overflow-style:none;
}
body::-webkit-scrollbar {
    display:none;
}

ul {
    list-style: none;
    margin: 0;
}

button {
    background: none;
    border: none;
    outline: none;
}
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #919191;
}

a:hover {
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
}

p {
    margin: 0;
}

/* input number 화살표 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.active-post-btn {
    background: #1c1b1b !important;
    color: white;
    font-weight: 700;
}

.fade-enter-active {
    transition: all .3s ease;
}

.fade-leave-active {
    transition: all 0s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* 태그 */
.tag {
    padding: 5px 8px;
    background: #F5F5F5;
    width: 40px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #696969;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0;
}
.tag-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: static;
    left: 8px;
    top: 4px;
    line-height: 14px;

}
